In [1]:
import numpy as np
import pandas as pd
from sklearn. model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
df=pd.read_csv("/Users/dhairyamaroo/ML/Projects/Creditcard/creditcard.csv")

In [3]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [5]:
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [6]:
legit = df[df['Class']==0]
fraud = df[df['Class']==1]

In [7]:
print(legit.shape)
legit.head()

(284315, 31)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [8]:
print(fraud.shape)
legit.head()

(492, 31)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [9]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [10]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [11]:
# compare the values for both transactions
df.groupby('Class'). mean ()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [12]:
legit_sample = legit.sample (n=492)

In [13]:
new_dataset = pd. concat ([legit_sample, fraud], axis=0)

In [14]:
 new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
133122,80257.0,1.135819,-0.487863,0.951967,-0.226452,-1.001762,-0.042060,-0.705794,0.110761,0.583818,...,0.123858,0.420102,-0.113563,0.143528,0.158157,1.484587,-0.071243,0.005455,51.78,0
165438,117434.0,-0.726165,1.040854,0.781647,-0.853742,-0.106524,-0.539376,0.162470,0.399166,0.378881,...,-0.213264,-0.479315,-0.010228,-0.130160,-0.246782,-0.310741,-0.138605,-0.193022,3.85,0
212571,138913.0,-0.019891,1.029280,-1.063533,-1.625415,2.178137,-0.317222,1.919134,-0.604801,-0.123676,...,0.096395,0.848311,-0.419244,-0.307203,-0.198849,0.051309,0.166484,-0.128639,1.54,0
208030,136944.0,-2.296779,0.160723,0.029033,0.924372,-0.837166,0.988358,0.111401,1.173111,-0.304353,...,0.295344,0.746659,0.155402,0.194956,0.162483,-0.355256,0.491229,-0.189419,217.60,0
228801,145670.0,1.931369,-0.092337,-0.471237,1.440827,0.005557,0.233607,-0.217500,0.024697,0.994671,...,-0.514909,-1.173042,0.444486,0.549290,-0.261009,-1.133058,0.059099,-0.021192,14.99,0

In [15]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [16]:
new_dataset.groupby ('Class').mean ()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,95824.353659,-0.143935,0.016586,-0.048715,-0.033860,-0.091614,0.003370,0.050268,-0.065640,-0.023488,...,0.018121,-0.047189,-0.001306,-0.038382,-0.007857,-0.020391,0.024991,0.005543,0.010332,105.980122
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [17]:
X = new_dataset.drop (columns='Class', axis=1)
Y = new_dataset['Class']

In [18]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
133122   80257.0  1.135819 -0.487863  0.951967 -0.226452 -1.001762 -0.042060
165438  117434.0 -0.726165  1.040854  0.781647 -0.853742 -0.106524 -0.539376
212571  138913.0 -0.019891  1.029280 -1.063533 -1.625415  2.178137 -0.317222
208030  136944.0 -2.296779  0.160723  0.029033  0.924372 -0.837166  0.988358
228801  145670.0  1.931369 -0.092337 -0.471237  1.440827  0.005557  0.233607
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
133122 -0.705794  0.110761  0.583818  ...  0.128483  0.123858  0.420102
165438  0.162470  0.399166  0.378881  ... -0.040940 -0.213264 -0.479315
212571  1.919134 -0.604801 -0.123676  ...  0.259065  0.096395  0.848311
208030  0.111401  1.173111 -0.304353  ...  0.135597  0.295344  0.746659
228801 -0.217500  0.024697  0.994671  ... -0.176144 -0.514909 -1.173042
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
133122 -0.113563  0.143528  0.158157  1.484587 -0.071243  0.005455   51.78
165438 -0.010228 -0.130160 -0.246782 -0.310741 -0.138605 -0.193022    3.85
212571 -0.419244 -0.307203 -0.198849  0.051309  0.166484 -0.128639    1.54
208030  0.155402  0.194956  0.162483 -0.355256  0.491229 -0.189419  217.60
228801  0.444486  0.549290 -0.261009 -1.133058  0.059099 -0.021192   14.99
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [19]:
print(Y)

133122    0
165438    0
212571    0
208030    0
228801    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [20]:
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=2 , stratify=Y)

In [21]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

In [22]:
model = LogisticRegression()

In [23]:
model.fit(X_train,y_train)

LogisticRegression()

In [24]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, y_train)

In [25]:
print('Accuracy on TraÃ®ning data : ', training_data_accuracy)

Accuracy on TraÃ®ning data :  0.9453621346886912

In [26]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, y_test)

In [27]:
print ('Accuracy score on Test Data: ', test_data_accuracy)

Accuracy score on Test Data:  0.9390862944162437

In [31]:
from imblearn.ensemble import BalancedBaggingClassifier
from sklearn.tree import DecisionTreeClassifier
#Create an instance
classifier = BalancedBaggingClassifier(estimator=DecisionTreeClassifier(),
                                sampling_strategy='not majority',
                                replacement=False,
                                random_state=42)
classifier.fit(X_train, y_train)
preds = classifier.predict(X_test)

In [32]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, y_test)
print ('Accuracy score on Test Data: ', test_data_accuracy)

Accuracy score on Test Data:  0.9390862944162437